html
  head
    title Add Work Page
    link(rel = 'stylesheet', href = 'http://localhost:3000/public/css/styles.css')
    
  body
    a(href= "/welcome") Welcome |
    |
    |
    a(href= `/profile/${username}`) #{username}'s profile |
    |
    |
    a(href= "/search") Search |
    |
    |
    a(href= "/browseArtist") Browse Artist |
    |
    |
    button(type="submit",  onclick = "logout()" ) logout
    br
    br
    div#addWorkshop
        h1 Add Workshop 
        br
        br
        label() Workshop Title
        br
        input#workshopTitle(type="text")
        br
        br
        button(type="submit",  onclick = "addWorkshop()" )  Add Workshop
   
    script(src= "http://localhost:3000/public/js/client.js")

