html
  head
    title Find Artist Page
    link(rel = 'stylesheet', href = 'http://localhost:3000/public/css/styles.css')
    
  body
    a(href= "/welcome") Welcome |
    |
    |
    a(href= `/profile/${username}`) #{username}'s profile |
    |
    |
    a(href= "/search") Search |
    |
    |
    a(href= "/browseArtist") Browse Artist |
    |
    |
    button(type="submit",  onclick = "logout()" ) logout
    br
    br
    div#findArtist  
        h1 Find artist by name
        each item in user
          if item.artpieces.length > 0
            a(href= `/artist/${item.username}`)  #{item.username} 
            br
            br

    script(src= "http://localhost:3000/public/js/client.js")